@charset "UTF-8";

:root {
    /* palheta de cores */
    --PaleTurquoise: rgba(156, 228, 205, 1);
    --DarkKhaki: rgba(160, 165, 117, 1);
    --Khaki: rgba(242, 235, 140, 1);
    --BurlyWood: rgba(242, 177, 153, 1);
    --LightCoral: rgba(242, 137, 128, 1);

    /* substituição das cores padrões dos botões do bootstrap */
    .btn-primary {
        --bs-btn-color: #000000;
        --bs-btn-bg: var(--BurlyWood);
        --bs-btn-border-color: none;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--LightCoral);
        --bs-btn-hover-border-color: none;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: var(--BurlyWood);
        --bs-btn-active-border-color: none;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        font-weight: 475;
    }

    /* substituição das cores padrões bootstrap */
    --bs-primary: var(--PaleTurquoise);
    --bs-secondary: var(--DarkKhaki);
    --bs-success: var(--Khaki);
    --bs-info: var(--BurlyWood);
    --bs-warning: var(--LightCoral);
}

    /* TODO: caso se veja necessário, configurar manualmente as outras cores */
    /*     
    --btn-secondary: var(--DarkKhaki);
    --btn-success: var(--Khaki);
    --btn-info: var(--BurlyWood);       
    --btn-warning: var(--LightCoral);
    */