@charset "UTF-8";

:root {
    /* substituição das cores padrões bootstrap */
    --bs-primary: var(--PaleTurquoise);
    --bs-secondary: var(--DarkKhaki);
    --bs-success: var(--Khaki);
    --bs-info: var(--BurlyWood);
    --bs-warning: var(--LightCoral);

    /* nova palheta de cores */
    --PaleTurquoise: rgba(156,228,205, 1);
    --DarkKhaki: rgba(160,165,117, 1);
    --Khaki: rgba(242,235,140, 1);
    --BurlyWood: rgba(242,177,153, 1);
    --LightCoral: rgba(242,137,128, 1);
}
