@charset "UTF-8";

/* hero */

.hero {
    margin: 0;
    padding: 0;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--DarkBlue);
    margin-bottom: 1rem;
    text-align: center;
}

.hero-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 450;
}

.hero-image {
    height: auto;
    border-radius: 2rem;
    transition: all 0.4s ease-in-out;
}

.hero-image:hover {
    transform: scale(1.01);
    border-radius: 0;
    box-shadow: 4px 4px 0 var(--DodgerBlue);
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .hero-btn {
        width: 100%;
        margin-bottom: 1rem;
    }

    .hero-image {
        width: 100%;
    }

    .hero-text-container {
        margin-top: 2rem;
    }
}