@charset "UTF-8";
@import "tailwindcss";

@theme {
    --color-blue-1: var(--blue-1);
    --color-blue-2: var(--blue-2);
    --color-blue-3: var(--blue-3);
    --color-green: var(--blue-4);
    --color-beige: var(--blue-5);
    --color-black: var(--black);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-border: var(--border);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
}

@layer base {
    :root {
        --blue-1: #049DD9;
        --blue-2: #05C7F2;
        --blue-3: #04BFBF;
        --green: #155902;
        --beige: #F2CEAE;
        --black: #212121;

        --background: var(--black);
        --foreground: var(--blue-1);

        --primary: var(--beige);
        --primary-foreground: var(--blue-1);

        --border: var(--blue-3);

        --card: var(--green);
        --card-foreground: var(--blue-1);
    }

    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground antialiased transition-colors duration-300;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #root {
        min-height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

}

@layer components {
    .container {
        @apply max-w-7xl mx-auto px-4;
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >=640px) {
        max-width: 640px;
    }

    @media (width >=768px) {
        max-width: 768px;
    }

    @media (width >=1024px) {
        max-width: 1024px;
    }

    @media (width >=1280px) {
        max-width: 1280px;
    }

    @media (width >=1400px) {
        max-width: 1400px;
    }
}